<%- include("partials/header") %>

<div class="container">
	<div class="row mt-4">
		<div class="col-6 show_image-container">
			<img src="<%= recipe.image %>">
		</div>
		<div class="col-6 show_details-container">
			<h1><%= recipe.title %></h1>
			<p class="keep-whitespace"><%= recipe.directions %></p>
			<table class="table">

			  <tbody>
				<tr>
				  <th scope="row">Author</th>
				  <td><%= recipe.servings %></td>

				</tr>
				<tr>
				  <th scope="row">Time</th>
				  <td><%= recipe.time %></td>
				</tr>
				<tr>
				  <th scope="row">ingredients</th>
				  <td class="keep-whitespace"><%= recipe.ingredients %></td>
				</tr>
				
				<tr>
				  <th scope="row">cuisine</th>
				  <td><%= recipe.cuisine %></td>
				</tr>
				
			  </tbody>
			</table>
			<% if (user && user.username === recipe.owner.username) { %>
				<a href="/recipes/<%= recipe._id %>/edit">
					<button class="btn btn-outline-info btn-lg btn-block -mb-22">
						edit
					</button>
				</a>
				<form action="/recipes/<%= recipe._id%>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-outline-danger btn-lg btn-block">Delete</button>
				</form>
			<% } %>
		
		</div>
	</div>
	<div class="row show_comment-header mt-3">
		COMMENT HEADER
	</div>
	<a href="/recipes/<%= recipe._id %>/comments/new">
		<button class="btn btn-success btn-lg mt-3 my-4">Add comment</button>
	</a>
	<% comments.forEach((comment) => { %>
	
	<div class="row show_comment-container py-2 border">
		<div class="col-2 border-right my-auto">
			<%= comment.user.username %>
		</div>
		<div class="col-2 border-right my-auto d-flex flex-wrap justify-content-center">
			<% if (user && user.username === comment.user.username) { %>
				<a class="btn btn-sm btn-success w-75 p-0 my-1 " href="/recipes/<%= recipe._id %>/comments/<%=comment._id %>/edit" >Edit</a>
				<form class="w-75 my-1" action="/recipes/<%= recipe._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger w-100 p-0">Delete</button>
				</form>
			<% } %>
		</div>
		
		<div class="col-8 my-auto">
			<%= comment.text %>
		</div>
	</div>
	<% }) %>
	<div class="py-5">
		
	</div>
</div>

<%- include("partials/footer") %>