<%- include("partials/header") %>
			
			<div class="container">
				<div class="card-deck row mt-2">
					<% recipes.forEach((recipe) => { %>
						<div class="card col-xs-6 col-md-4 m-2 " >
							<a href="/recipes/<%= recipe._id %>">
								<img class=" card-img card-img-top " src="<%= recipe.image %>" alt="pic of recipe">
							</a>

							<h3 class = "card-title mt-3"><%= recipe.title %></h3>
							<p class="card-text mb-3 mx-3"><%= recipe.description %></p>
						</div>
					<% }) %> 
				</div>
			</div>
<%- include("partials/footer") %>
