<%- include("partials/header") %>
<div class="container">
	<h1>
		Edit Recipe
	</h1>

	<form action="/recipes/<%= recipe._id%>?_method=PUT" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label"  >Title</label>
    <input type="text" class="form-control" name="title" value="<%= recipe.title%>" >
  </div>
  <div class="mb-3">
    <label for="directions" class="form-label">directions</label>
    <textarea type="text" class="form-control preserve-whitespace" name="directions"> <%= recipe.directions%></textarea>
  </div>

 <div class="mb-3">
    <label for="servings" class="form-label">Number of Servings</label>
    <input type="text" class="form-control" name="servings"  value="<%= recipe.servings%>">
  </div>
	<div class="mb-3">
    <label for="time" class="form-label">Cooking Time</label>
    <input type="text" class="form-control" name="time"  value="<%= recipe.time%>">
  </div>
	<div class="mb-3">
    <label for="ingredients" class="form-label">ingredients</label>
    <textarea type="text" class="form-control preserve-whitespace" name="ingredients"  ><%= recipe.ingredients%></textarea>
  </div>
	
	
	<div class="mb-3">
    <label for="cuisine" class="form-label">Cuisine</label>
    <select class="form-control" id="cuisine" name="cuisine">
		<option disabled>Choose Below</option>
		<option   <%= recipe.cuisine === 'chicken' ? 'selected' : '' %>>Chicken</option>
		<option <%= recipe.cuisine === 'beef' ? 'selected' : '' %>>Beef</option>
		<option  <%= recipe.cuisine === 'pork' ? 'selected' : '' %>>Pork</option>
		<option <%= recipe.cuisine === 'noodles' ? 'selected' : '' %>>Noodles</option>
		<option <%= recipe.cuisine === 'seafood' ? 'selected' : '' %>>Seafood</option>
		<option  <%= recipe.cuisine === 'dessert' ? 'selected' : '' %>>Dessert</option>
		<option  <%= recipe.cuisine === 'snacks' ? 'selected' : '' %>>Snacks</option>
		<option  <%= recipe.cuisine === 'vegetables' ? 'selected' : '' %>>Vegetables</option>
		<option  <%= recipe.cuisine === 'sandwiches' ? 'selected' : '' %>>Sandwiches</option>
		</select>
  </div>
	 <div class="mb-3">
    <label for="image" class="form-label">link to Image</label>
    <input type="text" class="form-control" name="image"  value="<%= recipe.image%>">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>

	  <%- include("partials/footer") %>